<settings>
    <setting propertyKey="@Properties.cityId" title="@Strings.CityTitle">
        <settingConfig type="list">
            <listEntry value="-1">@Strings.CityAuto</listEntry>
            <listEntry value="2">@Strings.City2</listEntry>
            <listEntry value="4">@Strings.City4</listEntry>
            <listEntry value="16">@Strings.City16</listEntry>
            <listEntry value="14">@Strings.City14</listEntry>
            <listEntry value="7">@Strings.City7</listEntry>
            <listEntry value="10">@Strings.City10</listEntry>
            <listEntry value="22">@Strings.City22</listEntry>
            <listEntry value="6">@Strings.City6</listEntry>
            <listEntry value="11">@Strings.City11</listEntry>
            <listEntry value="8">@Strings.City8</listEntry>
            <listEntry value="12">@Strings.City12</listEntry>
            <listEntry value="18">@Strings.City18</listEntry>
            <listEntry value="17">@Strings.City17</listEntry>
            <listEntry value="23">@Strings.City23</listEntry>
            <listEntry value="29">@Strings.City29</listEntry>
            <listEntry value="28">@Strings.City28</listEntry>
            <listEntry value="26">@Strings.City26</listEntry>
            <listEntry value="27">@Strings.City27</listEntry>
            <listEntry value="25">@Strings.City25</listEntry>
            <listEntry value="5">@Strings.City5</listEntry>
            <listEntry value="36">@Strings.City36</listEntry>
            <listEntry value="59">@Strings.City59</listEntry>
            <listEntry value="57">@Strings.City57</listEntry>
            <listEntry value="61">@Strings.City61</listEntry>
            <listEntry value="34">@Strings.City34</listEntry>
            <listEntry value="35">@Strings.City35</listEntry>
            <listEntry value="81">@Strings.City81</listEntry>
            <listEntry value="9">@Strings.City9</listEntry>
            <listEntry value="80">@Strings.City80</listEntry>
            <listEntry value="1">@Strings.City1</listEntry>
            <listEntry value="60">@Strings.City60</listEntry>
            <listEntry value="3">@Strings.City3</listEntry>
            <listEntry value="31">@Strings.City31</listEntry>
            <listEntry value="33">@Strings.City33</listEntry>
            <listEntry value="32">@Strings.City32</listEntry>
            <listEntry value="19">@Strings.City19</listEntry>
            <listEntry value="64">@Strings.City64</listEntry>
            <listEntry value="82">@Strings.City82</listEntry>
            <listEntry value="13">@Strings.City13</listEntry>
            <listEntry value="65">@Strings.City65</listEntry>
            <listEntry value="21">@Strings.City21</listEntry>
            <listEntry value="68">@Strings.City68</listEntry>
            <listEntry value="66">@Strings.City66</listEntry>
            <listEntry value="76">@Strings.City76</listEntry>
            <listEntry value="70">@Strings.City70</listEntry>
            <listEntry value="71">@Strings.City71</listEntry>
            <listEntry value="74">@Strings.City74</listEntry>
            <listEntry value="67">@Strings.City67</listEntry>
            <listEntry value="69">@Strings.City69</listEntry>
            <listEntry value="20">@Strings.City20</listEntry>
            <listEntry value="75">@Strings.City75</listEntry>
            <listEntry value="73">@Strings.City73</listEntry>
            <listEntry value="72">@Strings.City72</listEntry>
            <listEntry value="0">@Strings.City0</listEntry>
            <listEntry value="77">@Strings.City77</listEntry>
            <listEntry value="79">@Strings.City79</listEntry>
            <listEntry value="78">@Strings.City78</listEntry>
            <listEntry value="62">@Strings.City62</listEntry>
            <listEntry value="63">@Strings.City63</listEntry>
            <listEntry value="39">@Strings.City39</listEntry>
            <listEntry value="37">@Strings.City37</listEntry>
            <listEntry value="41">@Strings.City41</listEntry>
            <listEntry value="15">@Strings.City15</listEntry>
            <listEntry value="38">@Strings.City38</listEntry>
            <listEntry value="40">@Strings.City40</listEntry>
            <listEntry value="42">@Strings.City42</listEntry>
            <listEntry value="52">@Strings.City52</listEntry>
            <listEntry value="48">@Strings.City48</listEntry>
            <listEntry value="55">@Strings.City55</listEntry>
            <listEntry value="49">@Strings.City49</listEntry>
            <listEntry value="44">@Strings.City44</listEntry>
            <listEntry value="43">@Strings.City43</listEntry>
            <listEntry value="53">@Strings.City53</listEntry>
            <listEntry value="54">@Strings.City54</listEntry>
            <listEntry value="47">@Strings.City47</listEntry>
            <listEntry value="50">@Strings.City50</listEntry>
            <listEntry value="45">@Strings.City45</listEntry>
            <listEntry value="51">@Strings.City51</listEntry>
            <listEntry value="56">@Strings.City56</listEntry>
            <listEntry value="46">@Strings.City46</listEntry>
            <listEntry value="58">@Strings.City58</listEntry>
            <listEntry value="30">@Strings.City30</listEntry>
            <listEntry value="84">@Strings.City84</listEntry>
            <listEntry value="24">@Strings.City24</listEntry>
            <listEntry value="83">@Strings.City83</listEntry>
            <listEntry value="85">@Strings.City85</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.dataUrl" title="@Strings.DataUrlTitle">
        <settingConfig type="alphaNumeric" />
    </setting>
</settings>
